<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAuthenticateUserService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IDBOperationService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/TourService_991522132"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthenticateUserService"
                contract="TourService.IAuthenticateUserService" name="BasicHttpBinding_IAuthenticateUserService" />
            <endpoint address="net.tcp://localhost:8090/TourService_991522132"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDBOperationService"
                contract="TourService.IDBOperationService" name="NetTcpBinding_IDBOperationService">
                <identity>
                    <userPrincipalName value="DESKTOP-0MJU20P\hami9" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>